.hero {

    flex-direction: column;
    justify-content: center ;
    flex-grow: 1;
    background-color: #2F303A ;
    background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ,
    url("../images1/hero-bc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.hero-title {
color: var(--white-color) ;
font-style: 400;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
width: 696px;
margin: 0 auto;
padding-top: 200px;
padding-bottom: 30px;


}

.hero-btn {
    font-style: 400;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em ;
    color: var(--white-color) ;
    background-color: var(--accent-color-text) ;
    width: 200px;
    height: 50px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 200px;
    border-radius: 5px;
    border: 0px;


}